<div class="jumbotron">
  <h1 class="display-4">Simple Flight Search</h1>
  <p class="lead">Here you can search your flights.</p>
  <hr class="my-4">
  <button (click)="fillDummyData()" *ngIf="showLoadButton" class="btn btn-primary btn-sm"
          role="button">Load Data
  </button>
  <div class="card">
    <div class="card-header">
      <form (ngSubmit)="onSearch()" [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-2 form-group">
            <label for="departure">Departure</label>
            <input [ngClass]="{
                                'is-invalid': departure.invalid && (departure.dirty || departure.touched),
                                'is-valid': !departure.invalid && (departure.dirty || departure.touched)
                                }" class="form-control" formControlName="departure" id="departure"
                   type="date">
            <div *ngIf="departure?.errors?.required && (departure?.touched || departure?.dirty)"
                 class="invalid-feedback">
              Departure Date is required.
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="arrival">Arrival</label>
            <input [ngClass]="{
                                'is-invalid': arrival.invalid && (arrival.dirty || arrival.touched),
                                'is-valid': !arrival.invalid && (arrival.dirty || arrival.touched)
                                }" class="form-control" formControlName="arrival" id="arrival"
                   type="date">
            <div *ngIf="arrival?.errors?.required && (arrival?.touched || arrival?.dirty)"
                 class="invalid-feedback">
              Arrival Date is required.
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="flightNumber">Flight Number</label>
            <input [ngClass]="{
                                'is-invalid': flightNumber.invalid && (flightNumber.dirty || flightNumber.touched),
                                'is-valid': !flightNumber.invalid && (flightNumber.dirty || flightNumber.touched)
                                }" class="form-control" formControlName="flightNumber"
                   id="flightNumber"
                   placeholder="Flight Number" type="text">
            <div *ngIf="flightNumber?.errors?.required && (flightNumber?.touched || flightNumber?.dirty)"
                 class="invalid-feedback">
              Flight Number is required.
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="origin">Origin</label>
            <input [ngClass]="{
                                'is-invalid': origin.invalid && (origin.dirty || origin.touched),
                                'is-valid': !origin.invalid && (origin.dirty || origin.touched)
                                }" class="form-control" formControlName="origin" id="origin"
                   placeholder="Origin"
                   type="text">
            <div *ngIf="origin?.errors?.required && (origin?.touched || origin?.dirty)"
                 class="invalid-feedback">
              Origin is required.
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="destination">Destination</label>
            <input [ngClass]="{
                                'is-invalid': destination.invalid && (destination.dirty || destination.touched),
                                'is-valid': !destination.invalid && (destination.dirty || destination.touched)
                                }" class="form-control" formControlName="destination"
                   id="destination"
                   placeholder="Destination"
                   type="text">
            <div *ngIf="destination?.errors?.required && (destination?.touched || destination?.dirty)"
                 class="invalid-feedback">
              Destination is required.
            </div>
          </div>
          <div class="col-md-2 form-group">
            <label for="action">Action</label>
            <button [disabled]="filterForm.invalid" class="btn btn-success form-control" id="action"
                    type="submit">Search
            </button>
          </div>
        </div>
        <div class="row">

        </div>
      </form>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Flight Number</th>
            <th scope="col">Carrier</th>
            <th scope="col">Origin</th>
            <th scope="col">Departure</th>
            <th scope="col">Destination</th>
            <th scope="col">Arrival</th>
            <th scope="col">Aircraft</th>
            <th scope="col">Distance</th>
            <th scope="col">Travel Time</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flight of flights; let i = index">
            <td>{{i + 1}}</td>
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.carrier}}</td>
            <td>{{flight.origin}}</td>
            <td>{{flight.departure | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{flight.destination}}</td>
            <td>{{flight.arrival | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{flight.aircraft}}</td>
            <td>{{flight.distance}}</td>
            <td>{{flight.travelTime}}</td>
            <td>{{flight.status}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
